
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 'Open sans', sans-serif;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body{
    background-color:  rgb(253, 255, 255);
    overflow-x: hidden;
}

/*

                                      ---------------- 
                                   --------------------             
                               ------------------------
                           ----------------------------
                       --------------------------------
                 ----------             ---------------
          ------------                  ---------------
                                        ---------------
                                        ---------------
                                        ---------------
                                        ---------------
                                        ---------------
                                        ---------------
                                        ---------------
                                        ---------------
                                        ---------------
                                        ---------------
                                        ---------------
                                        ---------------
                                        ---------------
                                        ---------------
                                        ---------------
                                        ---------------
                                        ---------------
                                        ---------------


*/


/*Styles of main header*/ 
header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color:  rgb(77, 77, 88);
    padding-top: 5px;
    height: 80px;
    z-index: 1000;
}
.navbar{
    display: flex;
    align-items: center;
}


/*Container for styles of  the "ICON and LOGO" on the top left corner*/
.highlight-p{
    text-shadow: 2px 2px 2px rgba(0,0,0,0.4);
    margin-left: 5px;
    font-size: 38px;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
}
.navbar .icon-container {
    display: flex;
    align-items: center;
    margin-left: 10px;
    margin-top: 5px;
}
.navbar .icon-container img{
     width: 60px;
     height: 55px;
}


/*Class-links  for  "ABOUT US"  outside navbar-menu*/
.links{
    margin-left: 38%;
    margin-top: 15px;
}
.links .About:hover{
   color: black;
   background-color: white;
   border-radius: 5px;
}
.navbar li{
    list-style: none;
}
.About{
    text-decoration: none;
    color: white;
    font-size: 23px;
    padding: 10px 5px;
}


/*Wrap "BUTTONS FOR CHANGING THE LANGUAGE ON THE MAIN PAGE" */
.wrap{
    display: flex;
    margin-left: 65px;
    gap: 10px;
    margin-top: 18px;
}
.lang-button{
    font-size: 16px;
    background-color: rgba(0,0,0,0);
    border: none;
    color: rgb(175, 175, 133);
    cursor: pointer;
    font-style: oblique;
    text-shadow: 2px 2px 2px rgba(0,0,0,0.3);
 }
 .lang-button:hover{
    color: green;
 }


 /*THE LAST BUTTON ON THE RIGHT FOR GETTING STARTED*/
 .start_button{
    background-color:  rgb(77, 77, 88);
    border-radius: 15px;
    outline: none;
    padding: 0.5rem 1rem;
    margin-top: 13px;
    cursor: pointer;
    margin-left: 4rem;
    color: white;
    font-size: 18px;
    text-shadow: 2px 2px 2px rgba(0,0,0,0.1);
    border: 1px solid white;
 }
 .start_button a{
  text-decoration: none;
  color: white;
 }
 .start_button:hover{
    scale: 1.02;
 }

 .dropdown-menu{
    position: fixed;
    top: -100%;
    
    width: 100%;
    background-color: rgb(31, 30, 30);
    height: 100vh;
    overflow: hidden;
    transition: all 0.5s ease; 
    visibility: hidden;  
 }




 /*

                                      ---------------- 
                                   --------------------             
                               ------------------------
                           ----------------------------
                       --------------------------------
                 ----------             ---------------
          ------------                  ---------------
                                        ---------------
                                        ---------------
                                        ---------------
                                        ---------------
                                        ---------------
                                        ---------------
                                        ---------------
                                        ---------------
                                        ---------------
                                        ---------------
                                        ---------------
                                        ---------------
                                        ---------------
                                        ---------------
                                        ---------------
                                        ---------------
                                        ---------------
                                        ---------------


*/
/*The code for changing "SPAN AND P" on the body part*/


/*THE POSITION OF ITEMS INSIDE THE /DIV/ "HELLO" */
.HELLO{
  text-align: center;
  margin-top: 150px;
  }
 .the_first{
  font-size: 85px;
  font-weight: bold;
  word-spacing: 15px;
  color: rgb(32, 30, 30);
 }
/*The code for changing "SPAN AND P" on the body part*/

/*The second beginnig of the body part*/
.tailored{
    margin-top: 50px;
    text-align: center;
    width: 55%;
    margin-left: 23%;
    
}
.tailored .tap{
    font-size: 40px;
}


/*Button get started*/
.button_start{
  justify-content: center;
  width: auto;
  align-items: center;
  display: flex;
}
.getstarted{
    border-radius: 10px;
    margin-top: 4rem;
    outline: none;
    border: none;
    padding: 0.6rem 2rem;
    cursor: pointer;
    font-size: 18px;
    color: white;
    background-color: rgb(31, 30, 30);
    font-weight: bold;
    box-shadow: 0px 4px 6px rgba(0,0,0,0.6);
}
.getstarted:hover{
   background-color: rgb(165, 159, 159);
   color: black;
}
.getstarted a{
    color: white;
    text-decoration: none;
}


/* CSS STYLE OF "HUGE-DIV"*/

.huge-div{
    margin-top: 120px;
    background: rgb(8, 3, 37);
    height: auto;
    width: 80%;
    margin-left: 11%;
    border-radius: 20px;
    padding: 25px;
    box-shadow: 0px 4px 6px rgba(0,0,0,0.7);
}
.div_title{
    color: white;
    font-size: 45px;
    font-weight: bold;
}
.div_description{
    color: white;
    font-size: 35px;
    margin-top: 15px;
    line-height: 1.4;
}
/*CSS STYLES FOR WHY ELEMENT IN THE BODY PART*/
.why{
    text-align: center;
    margin-top: 150px;
}
/*CSS STYLE FOR LETTERS IN WHY ELEMENT*/
.s1{
  font-weight: bold;
  font-size: 80px;
}



                                                        /*STYLE FOR "TEXT_PIC DIV"*/

.text_pic{
    margin-top: 5rem;
    display: flex;
    align-items: center;
    margin-left: 100px;
    width: auto;
}
.div_monitor{
    width: auto;
}
.monitor{
    font-size: 40px;
    font-weight: bold;
}
.sub_monitor{
    font-size: 25px;
    width: 75%;
    margin-top: 25px;
    font-weight: bold;
    color: rgb(63, 60, 60);
}
.text_pic img{
    margin-right: 50px;
    width: 45%;

    
}
                                                        /*STYLE FOR "TEXT_PIC DIV"*/



                                                        /*STYLE FOR "TEXT REDUCED DIV"*/ 
 .text_reduced{
    display: flex;
    align-items: center;
    width: auto;
 }     
 .div_reduced{
    width: auto;
    padding-left: 18%;
 } 
 .reduced{
    font-size: 40px;
    font-weight: bold;
    width: 100%;
    
 }
 .sub_reduced{
    font-size: 25px;
    width: 85%;
    margin-top: 25px;
    font-weight: bold;
    color: rgb(63, 60, 60);
 }
 .text_reduced img{
    width: 35%;
    margin-left: 40px;
 }                                          

 /*STYLES FOR "DIV-UNIQUE_PIC"--------------------*/

 .unique_pic{
    
    display: flex;
    align-items: center;
    margin-left: 100px;
    width: auto;
 }
 .div_unique{
    width: 55%;
    padding-top: 1rem;
 }
 .unique{
    font-size: 40px;
    font-weight: bold;
 }
 .sub_unique{
    font-size: 25px;
    width: 70%;
    margin-top: 25px;
    font-weight: bold;
    color: rgb(63, 60, 60);
 }
 .unique_pic img{
    height: 23rem;
    width: 30%;
    margin-left: 6rem;
 }

/*___________________________------------------------________*/


/*PLACE FOR DIV-TARIFFS STYLES*/
.div_tariff{
    text-align: center;
    margin-top: 200px;
}
.tariff{
    font-size: 55px;
    font-weight: bold; 
}
.tar_hr{
    
    height: 15px;
    border-radius: 15px;
    background: rgb(8, 3, 37);
    width: 16rem;
    margin-left: 41%;
}


/*              "MAIN TARIFF DIV" PLACE FOR THE WHOLE TARIFF  */
.main_tariff{
    display: flex;
    justify-content: center;
    gap: 4rem;
    margin-top: 5rem;
}
.pro{
    display: flex;
    align-items: center;
    height: auto;
    width: auto;
    margin-top: 20px;
    padding-right: 15px ;
    padding-left: 15px;
}
.pro img{
    width: 20px;
    height: 20px;
}
.pro p{
    margin-left: 10px;
    font-weight: bold;
    font-size: 19px;
    color: rgb(94, 92, 92);
}
/*              "SUB_TARIFF DIV" PLACE FOR CHANGING TARIFFS   1111111111111111__________*/
.sub_tariff{
    margin-top: 4rem;
    border: none;
    width: 340px;
    height: 440px;
    border-radius: 20px;
    background-color: white;
    box-shadow: 1px 4px 4px rgba(0,0,0,0.2);
}
.basic{
    text-align: center;
    margin-bottom: 2rem;
    font-size: 45px;
    font-weight: bold;
    color: rgb(8, 3, 37);
}
.button_tariff{
    margin-top: 80px;
    margin-bottom: 35px;
    margin-left: 30%;
    border: none;
    outline: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    color: black;
    background-color: white;
    font-weight: bold;
    font-size: 17px;
}
.button_tariff:hover{
    scale: 1.1;
}

 
/*              "SUB_TARIFF DIV" PLACE FOR CHANGING TARIFFS   22222222222222__________*/
.sub_tariff2{
    margin-top: 4rem;
    border: none;
    width: 340px;
    border-radius: 20px;
    background-color: white;
    box-shadow: 1px 4px 4px rgba(0,0,0,0.2);
}
.premium{
    text-align: center;
    margin-bottom: 2rem;
    font-size: 45px;
    font-weight: bold;
    color: rgb(8, 3, 37);
}
.button_tariff3{
    margin-top: 50px;
    margin-bottom: 35px;
    margin-left: 32%;
    border: none;
    outline: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    color: black;
    background-color: white;
    font-weight: bold;
    font-size: 17px;
}
.button_tariff3:hover{
    scale: 1.1;
}

/*              "SUB_TARIFF DIV" PLACE FOR CHANGING TARIFFS    3333333333333333__________*/
.sub_tariff3{
    margin-top: 1rem;
    border-radius: 20px;
    width: 340px;
    height: 20%;
    background-color: white;
    box-shadow: 1px 4px 4px rgba(0,0,0,0.2);
}
.standart{
    text-align: center;
    margin-bottom: 2rem;
    font-size: 45px;
    font-weight: bold;
    color: rgb(8, 3, 37);
}
.button_tariff2{
    margin-top: 85px;
    margin-bottom: 35px;
    margin-left: 35%;
    border: none;
    border-radius: 10px;
    outline: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    color: white;
    background-color: rgb(6, 2, 29);
    font-weight: bold;
    box-shadow: 0px 4px 6px rgba(0,0,0,0.6);
}
.button_tariff2:hover{
    scale: 1.1;
}

/*SECOND TARIFF ADDITIONAL SERVICES */
.addi_sub{
  display: flex;
  justify-content: center; 
}
.second_tariff{
    margin-top: -8rem;
    background-color: white;
    width: 340px;
    border-radius: 20px;
    border: none;
    outline: none;
    box-shadow: 1px 4px 4px rgba(0,0,0,0.2);
}
.addi{
    text-align: center;
    margin-bottom: 2rem;
    font-size: 42px;
    font-weight: bold;
    color: rgb(153, 153, 59);
}
.button_tariff4{
    margin-top: 50px;
    margin-bottom: 35px;
    margin-left: 30%;
    border: none;
    outline: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    color: black;
    background-color: white;
    font-weight: bold;
    font-size: 17px;
}
.button_tariff4:hover{
    scale: 1.1;
}

/*--------------------------------------------------*/



/*
                                      ---------------- 
                                   --------------------             
                               ------------------------
                           ----------------------------
                       --------------------------------
                 ----------             ---------------
          ------------                  ---------------
          
*/
.Faq{
    margin-top: 12rem;
    background: linear-gradient(rgb(58, 57, 57), rgb(31, 30, 30) );
    border-radius: 20px;
    padding: 10px 30px;
    width: 85%;
    margin-left: 8%;
  }
  .faq{
    color: white;
    font-weight: bold;
    font-size: 2rem;
    margin-bottom: 10px;
  }
  .faq_hr{
    margin-top: 0;
    height: 10px;
    border: none;
    background-color: blueviolet;
    width: 38%;
    border-radius: 10px;
    margin-left: -10px;
    margin-bottom: 20px;
  }
  
  
  
  .div_questions{
    margin-top: 20px;  
    padding: 15px 20px;
    border-bottom: 2px solid green;
    cursor: pointer;
  }
  .question{
    display: flex;
  }
  .question p{
    font-size: 1.3rem;
    font-weight: bold;
    color: rgb(190, 165, 212);
    width: 80%;
  }
  .icon{
    margin-top: 5px;
    margin-left: 20%;
    cursor: pointer;
    transition: transform 0.5s ease;
  }
  .answer{
    
    overflow-y: hidden;
    height: 0;
    transition: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  .answer.active{
    height: 6rem;
    margin-top: 0.5rem;
    animation: fade 1s ease-in-out;
  }
  .answer p{
     color: white;
     font-size: 20px;
     font-weight: bold;
     width: 90%;
  }
  .icon.active{
    transform: rotate(180deg);
  }
  
  
  
  .icon2{
    margin-top: 5px;
    margin-left: 20%;
    cursor: pointer;
    transition: transform 0.5s ease;
  }
  .answer2 p{
    color: white;
    font-size: 20px;
    font-weight: bold;
    width: 90%;
  }
  .answer2{
    overflow-y: hidden;
    height: 0;
    transition: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  .answer2.active{
    height: 7.5rem;
    margin-top: 0.5rem;
    animation: fade 1s ease-in-out;
  }
  .icon2.active{
    transform: rotate(180deg);
  }
  
  
  
  .icon3{
    margin-top: 5px;
    margin-left: 20%;
    cursor: pointer;
    transition: transform 0.5s ease;
  }
  .answer3 p{
    color: white;
    font-size: 20px;
    font-weight: bold;
    width: 85%;
  }
  .answer3{
    overflow-y: hidden;
    height: 0;
    transition: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  .answer3.active{
    height: 4.5rem;
    margin-top: 0.5rem;
    animation: fade 1s ease-in-out;
  }
  .icon3.active{
    transform: rotate(180deg);
  }
  .bottom{
    margin-bottom: 15px;
  }

@keyframes fade {
    from{
      opacity: 0;
      transform: translateY(-18px);
    }
    to{
      opacity: 1;
      transform: translateY(0px);
    }
  }
  
 

 /* ----------"THE END OF THE HEADER_____________NUMBER: 1"---------------------*/

 


 @media(max-width: 992px){
    .navbar .links,
    .navbar .our-service,
    .navbar .start_button{
        display: none;
    }

   /*Container for styles of  the "ICON and LOGO" on the top left corner*/

    .dropdown-menu .highlight-p{
        text-shadow: 2px 2px 2px rgba(0,0,0,0.4);
        margin-left: 5px;
        font-size: 30px;
        color: white;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    .dropdown-menu .icon-container {
        display: flex;
        align-items: center;
        margin-left: 15px;
        margin-top: 15px;
    }
    .dropdown-menu .icon-container img{
         width: 58px;
         height: 52px;
    }
    


    .dropdown-menu{
        position: fixed;
        top: -100%;
        width: 100%;
        background-color: rgb(31, 30, 30);
        height: 100vh;
        transition: all 0.5s ease; 
        visibility: visible;
        z-index: 1001; 
     }

     .dropdown-menu.active{
        height: 100vh;
        top: 0;
        animation: fade 1s ease-in-out;
     }

     .toggle_icon{
        position: fixed;
        top: 25px;
        right: 30px;
        width: 25px;
        height: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        cursor: pointer;
        z-index: 1002;
    }
    .toggle_icon span{
        display: block;
        height: 3px;
        width: 100%;
        background: white;
        transition: transform 0.3s ease, opacity 0.3s ease;
      }

      .toggle_icon.active span:nth-child(1){
        transform: rotate(45deg)
        translate(5px, 5px);
      }
      .toggle_icon.active span:nth-child(2){
        opacity: 0;
      }
      .toggle_icon.active span:nth-child(3){
        transform: rotate(-45deg)
        translate(2px, -2px) 
      }
    /*Styles of main header*/ 

header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color:  rgb(77, 77, 88);
    padding-top: 15px;
    height: 70px;
}
.navbar{
    display: flex;
    align-items: center;
}


    /*Container for styles of  the "ICON and LOGO" on the top left corner*/
    .highlight-p{
        font-size: 30px;
        color: white;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    .navbar .icon-container {
        display: flex;
        align-items: center;
        margin-left: 10px;
        margin-top: -8px;
    }
    .navbar .icon-container img{
      width: 58px;
      height: 52px;      
    }
 

  
    
 
 
 

 /*Wrap "BUTTONS FOR CHANGING THE LANGUAGE ON THE MAIN PAGE" */
  .navbar .wrap{
    display: none;

  }
  
  .dropdown-menu hr{
    margin-top: 5px;
    background-color: green;
    width: 105px;
    height: 5px;
    border-radius: 15px;
    border: none;
    margin-left: 35px;
}
.dropdown-menu .wrap{
    margin-left: 31px;
    gap: 10px;
}
.dropdown-menu .wrap .lang-button{
    display: flex;
    margin-top: 75px;
    display: block;
}
.dropdown-menu .lang-button{
    font-size: 15px;
    background-color: rgba(0,0,0,0);
    border: none;
    color: rgb(175, 175, 133);
    cursor: pointer;
    font-style: oblique;
    width: 50px
 }
 .dropdown-menu .lang-button:hover{
    color: green;
 }
 .dropdown-box{
    margin-top: 4rem;
    margin-left: 25px;
 }
 .dropdown-box2{
    display: flex;
    align-items: center;
    margin-top: 10px;
    width: 140px;
    margin-left: 25px; 
 }
 .dropdown-menu li{
      list-style: none;
 }
 .About2{
    text-decoration: none;
    color: white;
    font-size: 23px;
}
.About2:hover{
    color: green;
}
.services2{
    font-size: 23px;
    color: white;
    margin-top: 1px;
}
.services2:hover{
    cursor: pointer;
}
.dropdown-box2 .ico2{
    background-image: url(arrow.ico);
    width: 18px;
    height: 18px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
}
.ico2{
    background: transparent;
    border: none;
}


/*------------------------This "CSS CODE FOR DROPDOWN-ARROW INSIDE DROPDOWN-MENU"---------------------------*/


.dropdown-arrow {
    
    position: absolute;
    overflow: hidden;
    height: 0;
    visibility: hidden;
    margin-top: -15px;
    margin-left: 4rem;
    background-color: grey;
    border-radius: 20%;
    border: 2px solid green;
}
.dropdown-arrow.open{
    height: 200px;
    width: 200px;
    top: 375px;
    padding-left: 60px;
    transition: height .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    visibility: visible;
   
}
.dropdown-arrow a{
    font-size: 25px;
    text-decoration: none;
    color: white;
}
.dropdown-arrow a:hover{
    color: rgb(75, 74, 74);
}
.dropdown-arrow li{
    margin-top: 1.5rem
}
.dropdown-arrow .wrap{
    display: none;
}


/*--------------------------------------------------------------*/


/*The begining of the body part*/
/*The code for changing "SPAN AND P" on the body part*/


/*THE POSITION OF ITEMS INSIDE THE /DIV/ "HELLO" */
.HELLO{
  text-align: center;
  margin-top: 150px;
  }
 .the_first{
  font-size: 65px;
  font-weight: bold;
  word-spacing: 15px;
  color: rgb(32, 30, 30);
 }

  
  /*The second beginnig of the body part*/
  .tailored{
      margin-top: 50px;
      text-align: center;
      width: 68%;
      margin-left: 17%;
      
  }
  .tailored .tap{
      font-size: 26px;
      font-weight: 600;
  }
  
  
  /*Button get started*/
  .getstarted{
      border-radius: 10px;
      margin-top: 4rem;
      outline: none;
      border: none;
      padding: 0.6rem 2rem;
      cursor: pointer;
      font-size: 16px;
      color: white;
      background-color: rgb(31, 30, 30);
      font-weight: bold;
      box-shadow: 0px 4px 6px rgba(0,0,0,0.6);
  }
  .getstarted:hover{
      color: black;
       background-color: rgb(165, 159, 159);
  }
  
  
/* CSS STYLE OF "HUGE-DIV"*/

.huge-div{
    margin-top: 120px;
    background: rgb(8, 3, 37);
    height: auto;
    width: 83%;
    margin-left: 10%;
    border-radius: 20px;
    padding: 25px;
    box-shadow: 0px 4px 6px rgba(0,0,0,0.7);
}
.div_title{
    color: white;
    font-size: 32px;
    font-weight: bold;
}
.div_description{
    color: white;
    font-size: 21px;
    margin-top: 15px;
    line-height: 1.4;
}


/*--------------------------------------------------*/


/*CSS STYLES FOR WHY ELEMENT IN THE BODY PART*/
.why{
    text-align: center;
    margin-top: 100px;
}
/*CSS STYLE FOR LETTERS IN WHY ELEMENT*/
.s1{
  font-size: 50px;
  font-weight: bold;
}


.text_pic{
    margin-top: 3rem;
    display: flex;
    align-items: center;
    padding-left: 30px;
    margin-left: 0;
    height: auto;
    width: auto;
    
}
.div_monitor{
    width: auto;
    
}
.monitor{
    font-size: 25px;
    font-weight: bold;
}
.sub_monitor{
    font-size: 20px;
    width: 75%;
    margin-top: 15px;
    font-weight: bold;
    color: rgb(63, 60, 60);
}
.text_pic img{
    margin-right: 0;
    padding-right: 10px;
    width: 45%;
   
}

.text_reduced{
    display: flex;
    align-items: center;
    width: auto;
    margin-top: 3rem;
 }     
 .div_reduced{
    width: auto;
    padding-left: 35px;
 } 
 .reduced{
    font-size: 25px;
    font-weight: bold;
 }
 .sub_reduced{
    font-size: 20px;
    width: 90%;
    margin-top: 25px;
    font-weight: bold;
    color: rgb(63, 60, 60);
 }
 .text_reduced img{
    width: 40%;
    margin-left: 10px;
 }  
 
 
 .unique_pic{
    display: flex;
    align-items: center;
    margin-left: 0;
    width: auto;
    margin-top: 1rem;
 }
 .div_unique{
    width: 55%;
    padding-top: 1rem;
    padding-left: 30px;
 }
 .unique{
    font-size: 25px;
    font-weight: bold;
    
 }
 .sub_unique{
    font-size: 20px;
    width: 85%;
    margin-top: 25px;
    font-weight: bold;
    color: rgb(63, 60, 60);
 }
 .unique_pic img{
    margin-left: 0.5rem;
    width: 38%;
    height: 17rem;
 } 
 /*              "MAIN TARIFF DIV" PLACE FOR THE WHOLE TARIFF  */

/*PLACE FOR DIV-TARIFFS STYLES*/
.div_tariff{
    text-align: center;
    margin-top: 200px;
}
.tariff{
    font-size: 45px;
    font-weight: bold; 
}
.tar_hr{
    
    height: 15px;
    border-radius: 15px;
    background: rgb(8, 3, 37);
    width: 13rem;
    margin-left: 35%;
}

.main_tariff{
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;
}
.pro{
    display: flex;
    align-items: center;
    height: auto;
    width: auto;
    margin-top: 20px;
    padding-right: 15px;
    padding-left: 15px;
}
.pro img{
    width: 20px;
    height: 20px;
}
.pro p{
    margin-left: 10px;
    font-weight: bold;
    font-size: 19px;
    color: rgb(94, 92, 92);
}
/*              "SUB_TARIFF DIV" PLACE FOR CHANGING TARIFFS   1111111111111111__________*/
.sub_tariff{
    margin-top: 4rem;
    border: none;
    width: 340px;
    height: auto;
    border-radius: 20px;
    background-color: white;
    box-shadow: 1px 4px 4px rgba(0,0,0,0.2);
}
.basic{
    text-align: center;
    margin-bottom: 2rem;
    font-size: 45px;
    font-weight: bold;
    color: rgb(8, 3, 37);
}
.button_tariff{
    margin-top: 80px;
    margin-bottom: 35px;
    margin-left: 30%;
    border: none;
    outline: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    color: black;
    background-color: white;
    font-weight: bold;
    font-size: 17px;
}
.button_tariff:hover{
    scale: 1.1;
}

 
/*              "SUB_TARIFF DIV" PLACE FOR CHANGING TARIFFS   22222222222222__________*/
.sub_tariff2{
    margin-top: 4rem;
    border: none;
    width: 340px;
    border-radius: 20px;
    background-color: white;
    box-shadow: 1px 4px 4px rgba(0,0,0,0.2);
}
.premium{
    text-align: center;
    margin-bottom: 2rem;
    font-size: 45px;
    font-weight: bold;
    color: rgb(8, 3, 37);
}
.button_tariff3{
    margin-top: 50px;
    margin-bottom: 35px;
    margin-left: 30%;
    border: none;
    outline: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    color: black;
    background-color: white;
    font-weight: bold;
    font-size: 17px;
}
.button_tariff3:hover{
    scale: 1.1;
}

/*              "SUB_TARIFF DIV" PLACE FOR CHANGING TARIFFS    3333333333333333__________*/
.sub_tariff3{
    margin-top: 4rem;
    border-radius: 20px;
    width: 340px;
    height: 20%;
    background-color: white;
    box-shadow: 1px 4px 4px rgba(0,0,0,0.2);
    border: none;
}
.standart{
    text-align: center;
    margin-bottom: 2rem;
    font-size: 45px;
    font-weight: bold;
    color: rgb(8, 3, 37);
}
.button_tariff2{
    margin-top: 50px;
    margin-bottom: 35px;
    margin-left: 32%;
    border: none;
    border-radius: 10px;
    outline: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    color: white;
    background-color: rgb(6, 2, 29);
    font-weight: bold;
    box-shadow: 0px 4px 6px rgba(0,0,0,0.6);
}
.button_tariff2:hover{
    scale: 1.1;
}

/*SECOND TARIFF ADDITIONAL SERVICES */
.second_tariff{
    margin-top: 4rem;
    background-color: white;
    width: 340px;
    border-radius: 20px;
    border: none;
    box-shadow: 1px 4px 4px rgba(0,0,0,0.2);
}
.addi{
    text-align: center;
    margin-bottom: 2rem;
    font-size: 42px;
    font-weight: bold;
    color: rgb(153, 153, 59);
}
.button_tariff4{
    margin-top: 50px;
    margin-bottom: 35px;
    margin-left: 30%;
    border: none;
    outline: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    color: black;
    background-color: white;
    font-weight: bold;
}
.button_tariff4:hover{
    scale: 1.1;
}

     
/*
                                      ---------------- 
                                   --------------------             
                               ------------------------
                           ----------------------------
                       --------------------------------
                 ----------             ---------------
          ------------                  ---------------
          
*/
.Faq{
    margin-top: 12rem;
    background: linear-gradient(rgb(58, 57, 57), rgb(31, 30, 30) );
    border-radius: 20px;
    padding: 10px 30px;
    width: 85%;
    margin-left: 8%;
  }
  .faq{
    color: white;
    font-weight: bold;
    font-size: 1.8rem;
    margin-bottom: 10px;
  }
  .faq_hr{
    margin-top: 0;
    height: 10px;
    border: none;
    background-color: blueviolet;
    width: 72%;
    border-radius: 10px;
    margin-left: -10px;
    margin-bottom: 20px;
  }
  
  
  
  .div_questions{
    margin-top: 0;  
    padding: 15px 20px;
    border-bottom: 2px solid green;
    cursor: pointer;
  }
  .question{
    display: flex;
  }
  .question p{
    font-size: 1.1rem;
    font-weight: bold;
    color: rgb(190, 165, 212);
    width: 80%;
  }
  .icon{
    margin-top: 5px;
    margin-left: 18%;
    cursor: pointer;
    transition: transform 0.5s ease;
  }
  .answer{
    overflow-y: hidden;
    height: 0;
    transition: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  .answer.active{
    height: 9rem;
    animation: fade 1s ease-in-out;  
  }
  .answer p{
     padding-top: 0.2rem;
     color: white;
     font-size: 17px;
     font-weight: bold;
     width: 95%;
  }
  .icon.active{
    transform: rotate(180deg);
  }
  
  
  
  .icon2{
    margin-top: 15px;
    margin-left: 18%;
    cursor: pointer;
    transition: transform 0.5s ease;
  }
  .answer2 p{
    padding-top: 0.8rem;
    color: white;
    font-size: 17px;
    font-weight: bold;
    width: auto;
  }
  .answer2{
    overflow-y: hidden;
    height: 0;
    transition: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  .answer2.active{
    height: 11rem;
    animation: fade 1s ease-in-out;  
  }
  .icon2.active{
    transform: rotate(180deg);
  }
  
  
  
  .icon3{
    margin-top: 15px;
    margin-left: 18%;
    cursor: pointer;
    transition: transform 0.5s ease;
  }
  .answer3 p{
    padding-top: 0.8rem;
    color: white;
    font-size: 17px;
    font-weight: bold;
    width: 90%;
  }
  .answer3{
    overflow-y: hidden;
    height: 0;
    transition: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  .answer3.active{
    height: 7rem;
    animation: fade 1s ease-in-out;  
  }
  .icon3.active{
    transform: rotate(180deg);
  }
  .bottom{
    margin-bottom: 15px;
  }

@keyframes fade {
    from{
      opacity: 0;
      transform: translateY(-18px);
    }
    to{
      opacity: 1;
      transform: translateY(0px);
    }
  }


/*--------------------------------------------------*/

 }
 @media (max-width: 500px){


       /*Styles of main header*/ 
       .dropdown-menu{
        position: fixed;
        top: -100vh;
        width: 100%;
        background-color: rgb(31, 30, 30);
        height: 100vh;
        transition: all 0.5s ease; 
        visibility: visible;
        z-index: 100; 
     }

     .dropdown-menu.active{
        height: 100vh;
        top: 0;
        animation: none; 
     }
  .dropdown-menu .highlight-p{
      text-shadow: 2px 2px 2px rgba(0,0,0,0.4);
      margin-left: 5px;
      font-size: 22px;
      color: white;
      font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  .dropdown-menu .icon-container {
      display: flex;
      align-items: center;
      margin-left: 7px;
      margin-top: 18px;
  }
  .dropdown-menu .icon-container img{
    width: 38px;
    height: 35px;
  }
  .dropdown-box{
    margin-top: 2.5rem;
    margin-left: 15px;
 }
.dropdown-menu hr{
  margin-top: 5px;
  background-color: green;
  width: 105px;
  height: 5px;
  border-radius: 15px;
  border: none;
  margin-left: 15px;
}
.dropdown-menu .wrap .lang-button{
    display: flex;
    margin-top: 20px;
    display: block;
}
.dropdown-menu .lang-button{
    font-size: 15px;
    background-color: rgba(0,0,0,0);
    border: none;
    color: rgb(175, 175, 133);
    cursor: pointer;
    font-style: oblique;
    width: 50px
 }
     

     
 .dropdown-menu .wrap{
    margin-left: 15px;
    gap: 10px;
    height: 0; 
}
.dropdown-menu .wrap.active{
  height: 3rem;
  animation: fade 1.5s ease-in-out;
  transition: all 1s ease;
}    
.dropdown-menu .hr_div{
  height: 0;
}
.dropdown-menu .hr_div.active{
  height: 4rem;
  animation: fade 1.5s ease-in-out;
  transition: all 1s ease;
}
.sub_drop{
  height: 0;
}
.sub_drop.active{
  height: 1rem;
  transition: all 1s ease;
  animation: fade 1.5s ease-in-out;
}     
 .dropdown-box2{
    display: flex;
    align-items: center;
    margin-top: 10px;
    width: 150px;
    margin-left: 15px; 
 }
.dropdown-box2.active{
  height: 3rem;
  animation: fade 1.5s ease-in-out;
  transition: all 1s ease;
}


     
 .dropdown-menu li{
      list-style: none;
 }
 .About2{
    text-decoration: none;
    color: white;
    font-size: 19px;
}
.About2:hover{
    color: green;
}
.services2{
    font-size: 19px;
    color: white;
    margin-top: 1px;
}
.services2:hover{
    cursor: pointer;
}
.dropdown-box2 .ico2{
    background-image: url(arrow.ico);
    width: 18px;
    height: 18px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
}
.ico2{
    background: transparent;
    border: none;
}



     
header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgb(77, 77, 88);
    height: 55px; 
    z-index: 98; 
     
}
.navbar{
    display: flex;
    align-items: center;
}


    /*Container for styles of  the "ICON and LOGO" on the top left corner*/
    .highlight-p{        
        font-size: 22px;
        color: white;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    .navbar .icon-container {
        display: flex;
        align-items: center;
        margin-left: 7px;
        margin-top: -7px;
    }
    .navbar .icon-container img{
        width: 38px;
        height: 35px;
   }
   .toggle_icon{
    position: fixed;
    top: 18px;
    right: 20px;
    width: 20px;
    height: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    cursor: pointer;
    z-index: 101;
}
.toggle_icon span{
    display: block;
    height: 3px;
    width: 100%;
    background: white;
    transition: transform 0.3s ease, opacity 0.3s ease;
  }
  .toggle_icon.active span:nth-child(1){
    transform: rotate(45deg)
    translate(5px, 5px);
  }
  .toggle_icon.active span:nth-child(2){
    opacity: 0;
  }
  .toggle_icon.active span:nth-child(3){
    transform: rotate(-45deg)
    translate(1px, -1px) 
  }
  /*THE POSITION OF ITEMS INSIDE THE /DIV/ "HELLO" */



  /*STYLE OF SPAN INSIDE THE "HELLO" /DIV/ */
   .HELLO{
    text-align: center;
    margin-top: 150px;
    }
   .the_first{
    font-size: 40px;
    font-weight: bold;
    word-spacing: 7px;
    color: rgb(32, 30, 30);
    line-height: 35px;
   }
  
  /*The second beginnig of the body part*/
  .tailored{
      margin-top: 45px;
      text-align: center;
      width: 90%;
      margin-left: 1rem;
  }
  .tailored .tap{
      font-size: 20px;
      font-weight: 600;
      line-height: 2rem;
  }
  
  
  /*Button get started*/
  .getstarted{
      border-radius: 10px;
      margin-top: 65px;
      outline: none;
      border: none;
      width: 8rem;
      height: 2rem;
      padding: 0;
      cursor: pointer;
      font-size: 15px;
      color: white;
      background-color: rgb(31, 30, 30);
      font-weight: bold;
      box-shadow: 0px 4px 6px rgba(0,0,0,0.6);
  }
  .getstarted:hover{
      color: black;
      background-color: rgb(165, 159, 159);
  }
  
  
/* CSS STYLE OF "HUGE-DIV"*/

.huge-div{
    margin-top: 100px;
    background: rgb(8, 3, 37);
    height: auto;
    width: 100%;
    margin-left: 0;
    border-radius: 20px;
    padding: 10px;
    box-shadow: 0px 4px 6px rgba(0,0,0,0.7);
}
.div_title{
    color: white;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
}
.div_description{
    color: white;
    font-size: 15px;
    text-align: center;
    margin-top: 8px;
    line-height: 1.5;
}
/*CSS STYLES FOR WHY ELEMENT IN THE BODY PART*/
.why{
    text-align: center;
    margin-top: 70px;
}
.s1{
  font-size: 50px;
  font-weight: bold;
}     
/*CSS STYLE FOR LETTERS IN WHY ELEMENT*/

.text_pic{
    margin-top: 4rem;
    display: flex;
    align-items: center;
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    height: auto;
    flex-direction: column;
}
.div_monitor{
    width: auto;
    text-align: center;
}
.div_monitor:first-child{
    order: 2;
}
.monitor{
    font-size: 24px;
    font-weight: bold;
    width: auto;
}
.sub_monitor{
    font-size: 20px;
    width: auto;
    margin-top: 8px;
    font-weight: bold;
    color: rgb(128, 126, 126);
}
.text_pic img{
    margin-left: 1rem;
    width: 80%;
}

.text_reduced{
    display: block;
    align-items: center;
    width: auto;
    padding-left: 0;
    padding-right: 0;
    margin-top: 5rem;
 }     
 .div_reduced{
    width: auto;
    padding-left: 0;
    text-align: center;
    margin-top: -10px;
 } 
 .reduced{
    font-size: 24px;
    font-weight: bold;
    width: auto;
 }
 .sub_reduced{
    font-size: 20px;
    width: auto;
    margin-top: 8px;
    font-weight: bold;
    color: rgb(128, 126, 126);
 }
 .text_reduced img{
    width: 75%;
    margin-left: 2rem;
 }  

 .unique_pic{
    display: flex;
    align-items: center;
    margin-left: 0;
    width: auto;
    padding-right: 0;
    padding-left: 0;
    margin-top: 5rem;
    flex-direction: column;
 }
 .div_unique{
    width: auto;
    padding-top: 1rem;
    text-align: center;
    padding-left: 0;
 }
 .div_unique:first-child{
    order: 2;
 }
 .unique{
    font-size: 24px;
    font-weight: bold;
    
 }
 .sub_unique{
    font-size: 20px;
    width: auto;
    margin-top: 8px;
    font-weight: bold;
    color: rgb(128, 126, 126);
 }
 .unique_pic img{
    margin-left: 40px;
    width: 60%;
    height: 14rem;
 }
/*--------------------------------------------------*/

/*              "MAIN TARIFF DIV" PLACE FOR THE WHOLE TARIFF  */

/*PLACE FOR DIV-TARIFFS STYLES*/
.div_tariff{
    text-align: center;
    margin-top: 100px;
}
.tariff{
    font-size: 30px;
    font-weight: bold; 
}
.tar_hr{
    
    height: 10px;
    border-radius: 15px;
    background:  rgb(8, 3, 37);
    width: 10rem;
    margin-left: 30%;
}

.main_tariff{
    flex-direction: column;
    align-items: center;
    margin-top: 4rem;
}
.pro{
    display: flex;
    align-items: center;
    height: auto;
    width: auto;
    margin-top: 20px;
    padding-right: 5px;
    padding-left: 10px;
}
.pro img{
    width: 18px;
    height: 18px;
}
.pro p{
    margin-left: 10px;
    font-weight: bold;
    font-size: 14px;
    color: rgb(94, 92, 92);
    line-height: 20px;
}
/*              "SUB_TARIFF DIV" PLACE FOR CHANGING TARIFFS   1111111111111111__________*/
.sub_tariff{
    margin-top: 2.5rem;
    border: none;
    width: 290px;
    height: auto;
    border-radius: 20px;
    background-color: white;
    box-shadow: 1px 4px 4px rgba(0,0,0,0.2);
}
.basic{
    text-align: center;
    margin-bottom: 1rem;
    font-size: 30px;
    font-weight: bold;
    color: rgb(8, 3, 37);
}
.button_tariff{
    margin-top: 60px;
    margin-bottom: 20px;
    margin-left: 29%;
    border: none;
    outline: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    color: black;
    background-color: white;
    font-weight: bold;
    font-size: 15px;
}
.button_tariff:hover{
    scale: 1.1;
}

 
/*              "SUB_TARIFF DIV" PLACE FOR CHANGING TARIFFS   22222222222222__________*/
.sub_tariff2{
    margin-top: 4rem;
    border: none;
    width: 290px;
    height: auto;
    border-radius: 20px;
    background-color: white;
    box-shadow: 1px 4px 4px rgba(0,0,0,0.2);
}
.premium{
    text-align: center;
    margin-bottom: 1rem;
    font-size: 30px;
    font-weight: bold;
    color: rgb(8, 3, 37);
}
.button_tariff3{
    margin-top: 40px;
    margin-bottom: 25px;
    margin-left: 29%;
    border: none;
    outline: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    color: black;
    background-color: white;
    font-weight: bold;
    font-size: 15px;
}
.button_tariff3:hover{
    scale: 1.1;
}





/*              "SUB_TARIFF DIV" PLACE FOR CHANGING TARIFFS    3333333333333333__________*/
.sub_tariff3{
    margin-top: 4rem;
    border-radius: 20px;
    width: 290px;
    height: auto;
    background-color: white;
    box-shadow: 1px 4px 4px rgba(0,0,0,0.2);
    border: none;
}
.standart{
    text-align: center;
    margin-bottom: 1rem;
    font-size: 30px;
    font-weight: bold;
    color: rgb(8, 3, 37);
}
.button_tariff2{
    margin-top: 50px;
    margin-bottom: 30px;
    margin-left: 30%;
    border: none;
    border-radius: 10px;
    outline: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    color: white;
    background-color: rgb(6, 2, 29);
    font-weight: bold;
    box-shadow: 0px 4px 6px rgba(0,0,0,0.9);
}
.button_tariff2:hover{
    scale: 1.1;
}

/*SECOND TARIFF ADDITIONAL SERVICES */
.second_tariff{
    margin-top: 4rem;
    background-color: white;
    width: 290px;
    border-radius: 20px;
    border: none;
    box-shadow: 1px 4px 4px rgba(0,0,0,0.2);
}
.addi{
    text-align: center;
    margin-bottom: 1rem;
    font-size: 35px;
    font-weight: bold;
    color: rgb(153, 153, 59);
}
.button_tariff4{
    margin-top: 40px;
    margin-bottom: 25px;
    margin-left: 30%;
    border: none;
    outline: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    color: black;
    background-color: white;
    font-weight: bold;
    font-size: 15px;
}
.button_tariff4:hover{
    scale: 1.1;
}

     
/*
                                      ---------------- 
                                   --------------------             
                               ------------------------
                           ----------------------------
                       --------------------------------
                 ----------             ---------------
          ------------                  ---------------
          
*/
.Faq{
    margin-top: 12rem;
    background: linear-gradient(rgb(58, 57, 57), rgb(31, 30, 30) );
    border-radius: 20px;
    padding: 10px 13px;
    width: auto;
    margin-left: 0;
  }
  .faq{
    color: white;
    font-weight: bold;
    font-size: 1.3rem;
    margin-bottom: 10px;
  }
  .faq_hr{
    margin-top: 0;
    height: 7px;
    border: none;
    background-color: blueviolet;
    width: 103%;
    border-radius: 10px;
    margin-left: -7px;
    margin-bottom: 20px;
  }
  
  
  
  .div_questions{
    margin-top: 0;  
    padding: 15px 0;
    border-bottom: 2px solid green;
    cursor: pointer;
  }
  .question{
    display: flex;
  }
  .question p{
    font-size: 14px;
    font-weight: bold;
    color: rgb(190, 165, 212);
    width: 80%;
    line-height: 1.3rem;
  }
  .icon{
    width: 8px;
    margin-top: 10px;
    margin-left: 13%;
    cursor: pointer;
    transition: transform 0.5s ease;
  }
  .answer{
    
    overflow-y: hidden;
    height: 0;
    transition: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  .answer.active{
    height: 12rem;
    margin-top: 0.5rem;
    animation: fade 1s ease-in-out;
  }
  .answer p{
     color: white;
     font-size: 16px;
     font-weight: normal;
     width: 95%;
     font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  .icon.active{
    transform: rotate(180deg);
  }
  
  
  
  .icon2{
    width: 8px;
    margin-top: 25px;
    margin-left: 13%;
    cursor: pointer;
    transition: transform 0.5s ease;
  }
  .answer2 p{
    color: white;
    font-size: 16px;
    font-weight: normal;
    width: 90%;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  .answer2{
    overflow-y: hidden;
    height: 0;
    transition: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  .answer2.active{
    height: 15rem;
    margin-top: 0;
    animation: fade 1s ease-in-out;
  }
  .icon2.active{
    transform: rotate(180deg);
  }
  
  
  
  .icon3{
    width: 8px;
    margin-top: 25px;
    margin-left: 13%;
    cursor: pointer;
    transition: transform 0.5s ease;
  }
  .answer3 p{
    color: white;
    font-size: 16px;
    font-weight: normal;
    width: 95%;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
  }
  .answer3{
    overflow-y: hidden;
    height: 0;
    transition: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  .answer3.active{
    height: 9rem;
    margin-top: 0;
    animation: fade 1s ease-in-out;
  }
  .icon3.active{
    transform: rotate(180deg);
  }
  .bottom{
    margin-bottom: 15px;
  }
  
@keyframes fade {
    from{
      opacity: 0;
      transform: translateY(-18px);
    }
    to{
      opacity: 1;
      transform: translateY(0px);
    }
  }


/*--------------------------------------------------*/


 }
 


